body{
    font-family: 'arimo', Verdana, Geneva, Tahoma, sans-serif;  
}
/* Header */
.homepage-header {
    width: 100%;
    height: 4rem;
    background-color: #99a0c5;
    display: flex;
    justify-content: left;
}
.ul-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: #000;
    margin: 0;
    font-size: 1.2rem;
}
.main_nav {
    width: 90%;
    display: flex;
    align-content: center;

}
.log_cont img, .log_cont{
    width: 5rem;
    display: inline-block;
}
.ul-header a{
    color: #000;
    text-decoration: none;
}

.ul-header li img {
    width: 5rem;
    
}

/* Main */
.int-img-content{
    width: 100%;
    box-sizing: border-box;
    height: 98vh;
    background-image: url(../img/homepage/calentador.png);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: left;    
}

/* Main - Boards */

.service {
    width: 20rem;
    height: 23rem;
    border: solid 1px #222;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: -5px 3px 10px #444;
    display:inline-flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
    background: linear-gradient(to bottom, #1119, #3e3e3e60);
    margin: 0 2rem;
}
/* Main - Boards - Items */
.product {
    width: 20rem;
    height: 23rem;
    border: solid 1px #222;
    border-radius: 1rem;
    align-self: center;
    overflow: hidden;
    box-shadow: -5px 3px 10px #444;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
    background: linear-gradient(to bottom, #1119, #3e3e3e60);
}

/* Main - Footer */
.main-footer {
    transform: translate(0, 1rem);
    box-sizing: border-box;
    background-color: #030a33;
    color: #fff;
    padding: 1rem 0 0 0;
    height: 12rem;
    overflow: hidden;
}
.main-footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.small-icon {
    background-image: url('../img/Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 7rem;
    height: 6rem;
    text-align: center;
    padding: 4rem 0 0 0;
    box-sizing: border-box;
    margin: 0;
}
.foot-ul{
    list-style: none;
}

.foot-a{
    color: #fff;
    text-decoration: none;
}
